version: '3'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://host.docker.internal:27018/healthpulse
      - NODE_ENV=production
    extra_hosts:
      - "host.docker.internal:host-gateway"